DEBUG=True
SECRET_KEY=change-me
ALLOWED_HOSTS=localhost,127.0.0.1
DATABASE_URL=sqlite:///db.sqlite3
JWT_SECRET_KEY=django-insecure-pv%6v^123!@#_petcare_security_key_2026_v1
CELERY_BROKER_URL=redis://localhost:6379/0
CELERY_RESULT_BACKEND=redis://localhost:6379/0
AUTO_GENERATE_SLOTS_ON_SCHEDULE_SAVE=True

BACKEND2_INVENTORY_URL=http://localhost:8002/api/v1

SECURITY_MODULE_BASE_URL=http://localhost:8005
SECURITY_MODULE_TIMEOUT=3
